/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --goldBack: #ae956d;
  --goldFont: #d9a554;
  --black: #151515;
  --grey: #1f1f1f;
  --white: #ffffff;
}

@font-face {
  font-family: Worldwide;
  src: url(/fonts/Worldwide.ttf);
}

@font-face {
  font-family: Accord;
  src: url(/fonts/Accord-Light.ttf);
}

body {
  background-color: var(--goldBack);
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: 'Worldwide';
}

/******************************************
/* LAYOUT
/*******************************************/
h2 {
  font-size: 2.5rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(../img/barber2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90%;
  padding: 6rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  flex-wrap: wrap;
  background: transparent;
  position: absolute;
  width: 100%;
  transition: background-color 0.3s ease;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.color-change {
  background: var(--black);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Worldwide', serif;
}

.logo h3 {
  font-size: 1.5rem;
  font-weight: 200;
  color: var(--white);
}

.logo img {
  width: 2.5rem;
}

.navbar .logo {
  gap: .2rem;
}

.social,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social img {
  width: 1.8rem;
}

.navbar ul {
  gap: 1.5rem;
}

.navbar li {
  list-style: none;
}

.links {
  padding: 0 2rem;
}

.links a {
  list-style: none;
  text-decoration: none;
  color: var(--white);
  font-family: 'Accord', sans-serif;
  font-size: 1.2rem;
}

.links a:hover {
  transition: color 0.3s ease;
  color: var(--goldFont);
}

.hero-section span {
  color: var(--goldFont)
}

p {
  font-family: 'Accord';
  font-weight: 400;
  line-height: 1.6;
  color: var(--white);
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 22rem;
  margin: 4rem 10rem;
}

.hero h1 {
  font-size: 4rem;
  font-family: 'Worldwide', serif;
  font-weight: 100;
}

.hero p {
  margin-bottom: 2rem;
}

.hero a {
  font-family: 'Accord';
  font-weight: 100;
  text-decoration: none;
}

form {
  display: flex;
  gap: 1rem;
}

.gold:hover,
.clear:hover {
  cursor: pointer;
}

.gold {
  background-color: var(--goldFont);
  color: var(--black);
  padding: .75rem 1.25rem;
  border: 1px solid var(--goldFont);
}

.gold:hover {
  background-color: var(--black);
  color: var(--goldFont);
  padding: .75rem 1.25rem;
  border: 1px solid var(--goldFont);
}

.clear {
  background-color: var(--black);
  color: var(--goldFont);
  padding: .75rem 1.25rem;
  border: 1px solid var(--goldFont);
}

.clear:hover {
  background-color: var(--goldBack);
  color: var(--black);
  padding: .75rem 1.25rem;
  border: transparent;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--grey);
  justify-items: center;
}

.about-exp {
  max-width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-exp span {
  color: var(--goldFont);
  font-size: 5rem;
}

.about-exp h2 {
  font-size: 2.5rem;
  color: var(--white);
  text-align: center;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 2rem;
  max-width: 50rem;
  gap: 1.1rem;
}

.about-info h2 {
  color: var(--goldFont);
  font-size: 2.5rem;
}

.about-info p {
  padding-bottom: 1rem;
}

.our-services {
  display: flex;
  flex-direction: column;
  background: var(--black);
  justify-content: center;
  align-items: center;
  padding: 6rem 0 8rem;
}

.our-services h2 {
  font-size: 3rem;
  color: var(--goldFont);
}

.our-services h3 {
  font-family: 'Accord';
  font-weight: 200;
}

.our-services p {
  text-align: center;
  padding: 2rem 2rem 4rem;
  max-width: 52rem;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.service-item {
  border: 1px solid var(--goldFont);
  min-width: 15rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  position: relative;
}

.service-item span {
  color: var(--goldFont);
  font-family: 'Accord';
  font-weight: bold;
}

.service-item .pic {
  width: 18rem;
  padding: 1.1rem 1.1rem 3rem;
}

.service-item .icon {
  width: 4rem;
  border: 2px solid var(--goldFont);
  background: var(--grey);
  padding: .6rem;
  border-radius: 50%;
  position: absolute;
  top: 59%;
}

.service-item .charge {
  padding: .5rem 0 1.5rem;
}

.featured {
  background: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.featured .title {
  color: var(--goldFont);
  padding: 6rem 0 3rem 0;

}

.featured .icons {
  display: flex;
  color: var(--goldFont);
  list-style: none;
  gap: 5rem;
  align-items: center;
}

.featured .icons img {
  width: 8rem;
}

.featured .oprah img {
  width: 12rem;
}

.featured .vogue img{
  width: 12rem;
}

.featured .esquire img {
  width: 12rem;
}

.hours {
  background: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hours h2{
  color: var(--goldFont);
  padding: 6rem 0 2rem 0;
}

@media (max-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(../img/barber2.jpg);
    padding: 8rem 2rem 3rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }

  .hero {
    max-width: 22rem;
    margin: 4rem 5rem;
  }

  .logo h3 {
    margin: 0;
  }

  .logo,
  .links,
  .social {
    margin: 0;
    padding: 0;
  }

  .links {
    padding-bottom: 0.5rem;
  }

  .service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .featured .icons {
    /* flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2.5rem;
    /* background: lightblue; */
  }
}


@media (max-width: 800px) {
  body {
    position: relative;
  }

  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../img/barber2.jpg);
    background-size: cover;
    padding: 8.75rem 2rem 4rem;
  }

  .show-nav {
    display: flex;
    align-items: start;
    padding-left: 4rem;
    background: black;
    width: 75%;
    height: 100vh;
    position: absolute;
    right: 0;
  }

  .show-nav ul{
    flex-direction: column;
  }

  .show-nav .logo {
    flex-direction: row;
  }

  .show-nav .social {
    flex-direction: row;
    padding-top: 4rem;
  }

  .show-nav ul.links {
    align-items: start;
  }

  .show-nav .links{
    flex-direction: column;
    padding-top: 4rem;
  }

  .hero {
    max-width: 22rem;
    margin: 4rem 5rem;
  }

  .logo h3 {
    margin: 0;
  }

  .logo,
  .links,
  .social {
    margin: 0;
    padding: 0;
  }

  .links {
    padding-bottom: 0.5rem;
  }

  .service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .featured .icons {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .hero-section {
    background-blend-mode: overlay;
    padding: 10.5rem 2rem 1rem;
  }

  .navbar {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }

  ul.logo {
    padding-right: 1.5rem;
  }

  .logo h3 {
    margin: 0;
  }

  .logo,
  .links,
  .social {
    margin: 0;
    padding: 0;
  }

  .links a {
    font-size: 1rem;
  }

  .hero {
    align-self: center;
    padding: 0 1.1rem;
    margin: 1rem 0 5rem;
  }

  .hero h1 {
    font-size: 3.7rem;
  }

  .about {
    grid-template-columns: 1fr;
    padding-top: 3rem;
  }

  .about-exp {
    padding-top: 2rem;
  }

  .about-info {
    align-items: center;
    text-align: center;
    padding: 3rem 2rem 4rem;
    align-self: center;
  }

  .service {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .featured .icons {
    flex-direction: column;
    gap: 2.5rem;
  }

}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/