/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --goldBack: #ae956d;
  --goldFont: #d9a554;
  --black: #151515;
  --gray: #1f1f1f;
  --white: #ffffff;
}

@font-face {
  font-family: Worldwide;
  src: url(/fonts/Worldwide.ttf);
}

@font-face {
  font-family: Accord;
  src: url(/fonts/Accord-Light.ttf);
}

html {
  scroll-behavior: smooth;
  width: 91.5%;
  margin: auto;
}

body {
  background-color: var(--goldBack);
  font-size: 1.2rem;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 100;
  font-family: "Worldwide";
}

/******************************************
/* LAYOUT
/*******************************************/
h2 {
  font-size: 2.5rem;
  color: var(--goldFont);
}

.hero-section {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url(../img/barber2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90%;
  padding: 6rem 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 2rem 6.4rem;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  transition: background-color 0.3s ease-in-out;
}

.scrolled {
  background-color: var(--black);
  padding: 1rem 2rem;
}

.scrolled .logo,
.scrolled .social {
  display: none;
}

.scrolled .links {
  margin: auto;
}

.navbar .hamburger-menu {
  display: none;
}

.navbar .close-menu {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Worldwide", serif;
}

.logo h3 {
  font-size: 1.75rem;
  font-weight: 200;
  color: var(--white);
}

.logo img {
  width: 2.5rem;
}

.navbar .logo {
  gap: 0.2rem;
}

.social,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social img {
  width: 2rem;
}

.navbar ul {
  gap: 1.5rem;
}

.navbar li {
  list-style: none;
}

.links {
  padding: 0 2rem;
}

.links a {
  list-style: none;
  text-decoration: none;
  color: var(--white);
  font-family: "Accord", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
}

.links a:hover {
  transition: color 0.2s ease-in-out;
  color: var(--goldFont);
}

.social li {
  transition: 0.2s ease-in-out;
}

.social li:hover {
  transform: scale(1.2);
}

.hero-section span {
  color: var(--goldFont);
}

p {
  font-family: "Accord";
  font-weight: 400;
  line-height: 1.6;
  color: var(--white);
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  margin: 4rem 10rem;
}

.hero h1 {
  font-size: 4.6rem;
  font-family: "Worldwide", serif;
  font-weight: 100;
}

.hero p {
  margin-bottom: 2rem;
}

.hero a {
  font-family: "Accord";
  font-weight: 100;
  text-decoration: none;
}

form {
  display: flex;
  gap: 1rem;
}

.gold:hover,
.clear:hover {
  cursor: pointer;
}

.gold {
  background-color: var(--goldFont);
  color: var(--black);
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--goldFont);
}

.gold:hover {
  background-color: var(--black);
  color: var(--goldFont);
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--goldFont);
}

.clear {
  background-color: var(--black);
  color: var(--goldFont);
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--goldFont);
}

.clear:hover {
  background-color: var(--goldBack);
  color: var(--black);
  padding: 0.75rem 1.25rem;
  border: transparent;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--gray);
  justify-items: center;
}

.about-exp {
  max-width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-exp span {
  color: var(--goldFont);
  font-size: 5rem;
}

.about-exp h2 {
  color: var(--white);
  text-align: center;
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 2rem;
  max-width: 50rem;
  gap: 1.1rem;
}

.about-info p {
  padding-bottom: 1rem;
}

.our-services {
  display: flex;
  flex-direction: column;
  background: var(--black);
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem 8rem;
}

.our-services h3 {
  font-family: "Accord";
  font-weight: 200;
}

.our-services p,
.meet p {
  text-align: center;
  padding: 2rem 2rem 4rem;
  max-width: 52rem;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.service-item {
  border: 1px solid var(--goldFont);
  min-width: 15rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  position: relative;
}

.service-item span {
  color: var(--goldFont);
  font-family: "Accord";
  font-weight: bold;
}

.service-item .pic {
  max-width: 18rem;
  width: 100%;
  padding: 1.1rem 1.1rem 3rem;
}

.service-item .icon {
  width: 4rem;
  border: 2px solid var(--goldFont);
  background: var(--gray);
  padding: 0.6rem;
  border-radius: 50%;
  position: absolute;
  top: 59%;
}

.service-item .charge {
  padding: 0.5rem 0 1.5rem;
}

.featured {
  background: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 6rem;
}

.featured .title {
  color: var(--goldFont);
  padding: 6rem 0 3rem 0;
}

.featured .icons {
  display: flex;
  color: var(--goldFont);
  list-style: none;
  gap: 5rem;
  align-items: center;
}

.featured .icons img {
  width: 8rem;
}

.featured .oprah img {
  width: 12rem;
}

.featured .vogue img {
  width: 12rem;
}

.featured .esquire img {
  width: 12rem;
}

.hours {
  background: var(--black);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 2rem;
  gap: 2rem;
}

.hours-chart {
  background: var(--gray);
  max-width: 28rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.hours-chart h2 {
  padding-bottom: 1.5rem;
  align-self: center;
}

.hours-chart p {
  font-size: 1rem;
  text-align: center;
}

.hours-chart ul {
  color: var(--white);
  list-style: none;
  padding-bottom: 1.5rem;
  font-weight: 100;
}

.hours-chart ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--goldBack);
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.hours-img {
  position: relative;
  border: 1px solid var(--goldFont);
}

.hours img {
  max-width: 30rem;
  padding: 1.3rem;
  position: relative;
  z-index: 1;
}

.hours .gold-box {
  width: 18rem;
  height: 18rem;
  position: absolute;
  background: var(--goldBack);
  bottom: 0;
  border-top: 50px solid var(--black);
  border-left: 50px solid var(--goldBack);
  border-right: 50px solid var(--black);
  border-bottom: 50px solid var(--goldBack);
  max-width: 30rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 4rem;
  background: var(--gray);
}

.gallery h2 {
  padding-bottom: 4rem;
}

.collage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  max-width: 80rem;
}

.collage-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.collage-item.even {
  flex-direction: column-reverse;
}

.collage img {
  width: 100%;
}

.meet {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 4rem;
}

.team {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
}

.team .member {
  width: 15rem;
  border: 1px solid var(--goldFont);
  text-align: center;
  padding-bottom: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team .member img {
  padding-bottom: 1.5rem;
}

.team .member span {
  font-weight: 100;
  font-family: Accord;
  font-size: medium;
}

.member > img {
  width: 100%;
}

.member-social {
  display: none;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 1.5rem;
  position: absolute;
  top: 35%;
}

.member-social img {
  width: 2rem;
  padding: 0;
}

.member-social li {
  transition: 0.2s ease-in-out;
}

.member-social li:hover {
  transform: scale(1.2);
}

.testimonial {
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 2rem;
  gap: 6rem;
}

.client {
  display: grid;
  place-content: center;
  position: relative;
  border: 1px solid var(--goldFont);
  padding: 1.2rem;
  width: fit-content;
  height: fit-content;
}

.client-pic {
  width: 18rem;
  position: relative;
  z-index: 1;
}

.comment {
  max-width: 22rem;
  min-width: 20rem;
}

.gray-box {
  background-color: var(--gray);
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: -15px;
  top: -15px;
}

.gold-quotes {
  width: 4rem;
  height: 5rem;
  position: absolute;
  left: -15px;
  top: -15px;
  z-index: 1;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

.gray-quotes {
  position: absolute;
  bottom: 40px;
  left: 110px;
}

.comment img {
  width: 2rem;
  height: 3rem;
}

.comment span {
  color: var(--white);
}

.gold-text {
  color: var(--goldFont);
}

.appointment {
  display: flex;
  place-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
    url(../img/barbershop.png);
  background-size: cover;
  min-height: 30rem;
}

.book {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background: var(--black);
  width: 100%;
  padding: 3rem 4rem;
}

.book p,
.book h2 {
  max-width: 28rem;
}

.book h2 {
  border-right: 1px solid gold;
  padding-right: 3rem;
}

footer {
  display: flex;
  flex-direction: column;
  background: var(--gray);
  color: var(--white);
}

footer .top {
  display: flex;
  flex-wrap: wrap;
  padding: 6rem 8rem;
  gap: 6rem;
  place-content: center;
  border-bottom: 1px solid gold;
}

footer .bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem 7rem;
}

footer .terms {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
      url(../img/barber2.jpg);
    padding: 8rem 2rem 3rem;
  }

  .navbar {
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    flex-direction: column;
  }

  .hero {
    max-width: 22rem;
    margin: 4rem 5rem;
  }

  .logo h3 {
    margin: 0;
    font-size: larger;
  }

  .logo img {
    width: 2rem;
  }

  .logo,
  .links,
  .social {
    margin: 0;
    padding: 0;
  }

  .links {
    padding-bottom: 0.5rem;
  }

  .service,
  .meet .team {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .featured .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 2.5rem;
  }
}

.hours img {
  max-width: 27.5rem;
}

.scrolled {
  padding: 1rem 2rem;
}


@media (max-width: 875px) {
  body {
    position: relative;
  }

  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)),
      url(../img/barber2.jpg);
    background-size: cover;
    padding: 8.75rem 2rem 4rem;
  }

  nav .links,
  nav .social {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .navbar-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .navbar .hamburger-menu {
    display: flex;
    width: 2rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  .navbar .hamburger-menu:hover {
    transform: scale(1.2);
  }

  .show-nav {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background: var(--black);
    width: 75%;
    height: 100vh;
    position: absolute;
    right: 0;
  }

  .show-nav.scrolled {
    padding: 2rem;
  }

  .overlay {
    display: flex;
    flex-direction: column;
    background: var(--goldBack);
    opacity: 0.75;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  .show-nav .hamburger-menu {
    display: none;
  }

  .show-nav .close-menu {
    display: block;
    width: 2rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }

  .show-nav .close-menu:hover {
    transform: scale(1.2);
  }

  .show-nav ul {
    display: flex;
    flex-direction: column;
  }

  .show-nav .logo {
    display: flex;
    flex-direction: row;
  }

  .show-nav .social {
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
  }

  .show-nav ul.links {
    display: flex;
    align-items: start;
  }

  .show-nav .links {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
  }

  .scrolled .links {
    margin: 0;
  }

  .scrolled .logo {
    display: flex;
  }

  .scrolled {
    padding: 1rem 2rem;
  }

  .hero-section {
    padding-top: 6rem;
  }

  .hero {
    align-self: center;
    padding: 0 1.1rem;
    margin: 1rem 0 5rem;
  }

  .hero h1 {
    font-size: 3.7rem;
  }

  .logo h3 {
    margin: 0;
  }

  .logo,
  .links,
  .social {
    margin: 0;
    padding: 0;
  }

  .links {
    padding-bottom: 0.5rem;
  }

  .service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .featured .icons {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  .hours {
    flex-direction: column-reverse;
  }

  .testimonial {
    flex-direction: column;
  }

  .collage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .book {
    height: 100%;
  }

  .book h2 {
    border-right: none;
    border-bottom: 1px solid gold;
    padding-bottom: 3rem;
  }

}

@media screen and (max-width: 600px) {
  .hero-section {
    background-blend-mode: overlay;
    padding: 10.5rem 2rem 1rem;
  }

  .navbar {
    display: flex;
  }

  ul.logo {
    padding-right: 1.5rem;
  }

  .logo h3 {
    font-size: 1.1rem;
    margin: 0;
  }

  .logo img {
    width: 2rem;
  }

  .logo,
  .links,
  .social {
    margin: 0;
    padding: 0;
  }

  .links a {
    font-size: 1rem;
  }

  .hero-section {
    padding-top: 3.25rem;
  }

  .hero {
    align-self: center;
    padding: 0 1.1rem;
    margin: 1rem 0 5rem;
  }

  .hero h1 {
    font-size: 3.7rem;
  }

  .about {
    grid-template-columns: 1fr;
    padding-top: 3rem;
  }

  .about-exp {
    padding-top: 2rem;
  }

  .about-info {
    align-items: center;
    text-align: center;
    padding: 3rem 2rem 4rem;
    align-self: center;
  }

  .service,
  .meet .team {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .featured .icons {
    flex-direction: column;
    gap: 2.5rem;
  }

  .hero form {
    display: grid;
  }

  .hours img {
    max-width: 24.5rem;
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
