/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
:root {
  --goldBack: #ae956d;
  --goldFont: #d9a554;
  --black: #151515;
  --grey: #1f1f1f;
  --white: #ffffff;
}

@font-face {
  font-family: Worldwide;
  src: url(/fonts/Worldwide.ttf);
}

@font-face {
  font-family: Accord;
  src: url(/fonts/Accord-Light.ttf);
}

body {
  background-color: var(--goldBack);
  font-size: 1.2rem;
}

* {
  margin: 0;
  font-weight: 100;
  font-family: 'Worldwide';
}


/******************************************
/* LAYOUT
/*******************************************/
h2 {
  font-size: 2.5rem;

}

header {
  display: flex;
  flex-direction: column;
  background-color: var(--black);
  color: var(--white);
  background-image: url(../img/barber2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90%;
  padding-bottom: 6.5rem;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Worldwide', serif;
}

.logo h3 {
  font-size: 1.5rem;
  font-weight: 200;
}

.logo img {
  width: 2.5rem;
}

.logo {
  gap: 0;
}

.social,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social img {
  width: 1.8rem;
}

header ul {
  gap: 1.5rem;
}

header li {
  list-style: none;
}

.links {
  padding: 0 2rem;
}

.links a {
  list-style: none;
  text-decoration: none;
  color: var(--white);
  font-family: 'Accord', sans-serif;
  font-size: 1.2rem;
}

.links a:hover {
  color: var(--goldFont);
}

header span {
  color: var(--goldFont)
}

p {
  font-family: 'Accord';
  font-weight: 400;
  line-height: 1.6;
  color: var(--white);
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.info {
  max-width: 22rem;
  margin: 4rem 10rem;
}

main h1 {
  font-size: 4rem;
  font-family: 'Worldwide', serif;
  font-weight: 100;
}

main p {
  margin-bottom: 2rem;
}

main a {
  font-family: 'Accord';
  font-weight: 100;
  text-decoration: none;
}

form {
  display: flex;
  gap: 1rem;
}

.gold:hover,
.clear:hover {
  cursor: pointer;
}

.gold {
  background-color: var(--goldFont);
  color: var(--black);
  padding: .75rem 1.25rem;
  border: 1px solid var(--goldFont);
}

.gold:hover {
  background-color: var(--black);
  color: var(--goldFont);
  padding: .75rem 1.25rem;
  border: 1px solid var(--goldFont);
}

.clear {
  background-color: var(--black);
  color: var(--goldFont);
  padding: .75rem 1.25rem;
  border: 1px solid var(--goldFont);
}

.clear:hover {
  background-color: var(--goldFont);
  color: var(--white);
  padding: .75rem 1.25rem;
  border: 1px solid var(--goldFont);
}

.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: var(--grey);
  justify-items: center;
}

.exp-1 {
  max-width: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.exp-1 span {
  color: var(--goldFont);
  font-size: 5rem;
}

.exp-1 h2 {
  font-size: 2.5rem;
  color: var(--white);
  text-align: center;
}

.exp-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6rem 2rem;
  max-width: 50rem;
  gap: 1.8rem;
}

.exp-2 h2 {
  color: var(--goldFont);
  font-size: 2.5rem;
}

.our-services {
  display: flex;
  flex-direction: column;
  background: var(--black);
  justify-content: center;
  align-items: center;
  padding: 6rem 0 8rem;
}

.our-services h2 {
  font-size: 3rem;
  color: var(--goldFont);
}

.our-services h3 {
  font-family: 'Accord';
  font-weight: 200;
}

.our-services p {
  text-align: center;
  padding: 2rem 2rem 4rem;
  max-width: 52rem;
}

.service {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.service-item {
  border: 1px solid var(--goldFont);
  min-width: 15rem;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  position: relative;
}

.service-item span {
  color: var(--goldFont);
  font-family: 'Accord';
  font-weight: bold;
}

.service-item .pic {
  width: 18rem;
  padding: 1.1rem 1.1rem 3rem;
}

.service-item .icon {
  width: 4rem;
  border: 2px solid var(--goldFont);
  background: var(--grey);
  padding: .6rem;
  border-radius: 50%;
  position: absolute;
  top: 59%;
}

.service-item .charge {
  padding: .5rem 0 1.5rem;
}

@media (min-width: 600px) and (max-width: 1200px) {
  header {
    background-blend-mode: overlay;
    padding-bottom: 2rem;
  }

  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 2rem 0 2rem;
  }

  ul.logo {
    padding-right: 1.5rem;
  }

  .logo h3 {
    margin: 0;
  }

  .logo,
  .links,
  .social {
    margin: 0;
    padding: 0;
  }

  .service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    background-blend-mode: overlay;
    padding-bottom: 2rem;
  }

  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 2rem 0 2rem;
  }

  ul.logo {
    padding-right: 1.5rem;
  }

  .logo h3 {
    margin: 0;
  }

  .logo,
  .links,
  .social {
    margin: 0;
    padding: 0;
  }
  
  .info {
    align-self: center;
    padding: 0 1rem;
    min-width: 22rem;
    margin-top: 1rem;
  }

  .experience {
    grid-template-columns: 1fr;
  }

  .exp-1 {
    padding-top: 2rem;
  }

  .exp-2 {
    padding: 3rem 2rem 4rem;
  }

  .service {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

}

footer {}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/